#card-detail-container {
  min-width: 384px;
  width: 50%;
  height: 95%;
  font-size: 0.7rem;

  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(90, 40, 90, 0.4);

  border-width: 0.1px;
  border-radius: 15px;

  box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.4), -2px -2px 5px rgba(30, 30, 30, 0.4);
}

#card-detail-header {
  font-size: 1rem;
}

#card-detail-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#card-detail-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#data-row {
  display: flex;

  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-style: dashed;
  border-width: 0.1px;
  border-color: rgba(240, 250, 0, 0.8);
}

#detail-data {
  display: flex;
  justify-content: space-around;

  font-size: 0.7rem;

  border-bottom-style: solid;
  border-width: 0.3px;
}

#temperatura {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(240, 250, 0, 0.8);
}

.label {
  color: rgba(240, 250, 0, 0.8);
  font-weight: 700;
}
