#container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;

  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 0.1px;
  
  overflow: hidden;
  height: 70%;
  min-height: 666px;
  width: 100%;
}

#column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#row {
  display: flex;
  flex-direction: row;
  
  padding: 5px;
}
