#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #65427e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
}

input::placeholder {
  color: rgba(200, 200, 200, 0.7);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
}

#container {
  display: flex;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 0.1px;
  overflow: hidden;
}

#home {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  background-color: #4b2b61;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
}

.search-box {
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 0.1px;
}

.error-message {
  color: red;
  background-color: #54316d;
  font-size: small;
}
