:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: xx-large;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #65427e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
}

input::placeholder {
  color: rgba(200, 200, 200, 0.7);
}

form button { 
  background-color: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
}

.search-box {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  width: 90%;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 0.1px;
}
